body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-dark {
    color: green;
}

.text-dark:hover {
    background-color: rgb(41, 4, 16); 
}

a {
    color: black;
}

a:hover {
    background-color: lavenderblush;
    border-radius: 15%;
    color:red;
}
